# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\PINTO_ALVES_AN-ESIG\PycharmProjects\inlo-projet-testing-andre-pntlv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
